*{margin: 0;
    padding: 0;
    font-family: sans-serif;}

.banner{width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(photos/background11.jpg);
        background-size: cover;
        background-position: center;}

.navbar{width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between}
        
.picture{width: 120px;
        cursor:pointer;}

.navbar ul li{list-style: none;
             display: inline-block;
             margin: 0 20px;
             position: relative;}

.navbar ul li a{text-decoration: none;
                color: #fff;
                text-transform: uppercase;}

.navbar ul li::after{content: '';
                    height: 3px;
                    width: 0;
                    background: #009688;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    transition: 0.5s;}
        
.navbar ul li:hover::after{width: 100%;}

.content{width: 100%;
    color: #fff;
    top: 50%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);}

.content h1{font-size: 70px;
            margin-top: 80px;}

.content p{margin: 20px auto;
            font-weight: 100;
            line-height: 25px;}

.button{ width: 200px;
         padding: 15px 0;
         text-align: center;
         margin: 20px 10px;
         border-radius: 25px;
         font-weight: bold;
         border: 2px solid #009688 ;
         background: transparent ;
         color: #fff;
         cursor: pointer;
         position: relative;
         overflow: hidden;}

.span{background: #009688;
     height: 100%;
     width: 0;
     border-radius: 25px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: -1;
     transition: 0.5s;}

.button:hover span{width: 100%;}

.button:hover{border: none}

.hero-bth{display: inline-block;
    text-decoration: center;
    color: #04302c;
    border: 2px solid #009688;
    padding: 5px 10px;
    font-size: 26px;
    border-radius: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;}

.hero-bth:hover{border: 2px solid #7ddbd2;
            background: #7ddbd2;
            transition: 1s;}



/*------countries-----*/
.countries{width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;}

.countries-row{margin-top: 1%;
display: flex;
justify-content:space-between ;}


.Bulgaria{
        height: 170px;
        flex-basis: 31%;
        color: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
        background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
        url(photos/sofia.jpg);
        background-size: cover;
        background-position: center;}

.Germany{flex-basis: 31%; height: 170px;
    color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
    url(photos/ansgar-scheffold-mtfTz0FnwBw-unsplash.jpg);
    background-size: cover;
    background-position: center;}

.Italy{flex-basis: 31%; height: 170px;
    color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
    url(photos/rome\ \(2\).jpg);
    background-size: cover;
    background-position: center;}    

.Poland{flex-basis: 31%; height: 170px;
    color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
    url(photos/wroclaw-g45a3a8b02_1920.jpg);
    background-size: cover;
    background-position: center;}    

.Greece{flex-basis: 31%; height: 170px;
        color: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
        background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
        url(photos/acropolis_parthenon_athens.jpg);
        background-size: cover;
        background-position: center;
        }    

.Croatia{flex-basis: 31%; height: 170px;
            color: #fff3f3;
            border-radius: 10px;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
            transition: 0.5s;
            background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5)),
            url(photos/catedral.jpg);
            background-size: cover;
            background-position: center;}   
        
.countries h1{text-align: center;
    font-weight: 600;
    margin: 10px 0;}

.countries-col:hover{ box-shadow:0 0 20px 0px rgba(0,0,0,0.2) ;}   

@media(max-width:700px){.countries-row{flex-direction: column;}}


/* design */
.design{
    padding: 10px 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
}


img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}



.blog{
    background: #f9f9f9;
    padding: 30px 10px;
}
.blog-content{
    margin-top: 20px ;
    margin-bottom: 10px;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 20px 0;
    padding: 0 10px;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-size: 1.1rem;
    display: inline-block;
    transition: all 0.5s ease;

    display: inline-block;
    text-decoration: center;
    color: #04302c;
    border: 1px solid #009688;
    padding: 5px 10px;
    font-size: 14px;
    
    background: transparent;
    position: relative;
    cursor: pointer;
}
.blog-text a:hover{
    border: 2px solid #7ddbd2;
            background: #7ddbd2;
            transition: 1s;
}


.hero-bth{display: inline-block;
    text-decoration: center;
    color: #04302c;
    border: 2px solid #009688;
    padding: 5px 10px;
    font-size: 26px;
    border-radius: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;}


/* about */
.about{
    padding: 40px 20px;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}







@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 600px) {
    .navbar {
        flex: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        flex: 25%;
    }
}



@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}